In [1]:
# for loop

In [3]:
for var1 in range(10):
    print("var1:",var1)

var1: 0
var1: 1
var1: 2
var1: 3
var1: 4
var1: 5
var1: 6
var1: 7
var1: 8
var1: 9

In [4]:
for var1 in range(1,10):
    print("var1:",var1)

var1: 1
var1: 2
var1: 3
var1: 4
var1: 5
var1: 6
var1: 7
var1: 8
var1: 9

In [6]:
for var1 in range(1,10,2):
    print("var1:",var1)

var1: 1
var1: 3
var1: 5
var1: 7
var1: 9

In [8]:
for var1 in range(10,1,-1):
    print("var1:",var1)

var1: 10
var1: 9
var1: 8
var1: 7
var1: 6
var1: 5
var1: 4
var1: 3
var1: 2

In [9]:
for var1 in range(2,20,2):
    print("var1:",var1)

var1: 2
var1: 4
var1: 6
var1: 8
var1: 10
var1: 12
var1: 14
var1: 16
var1: 18

In [10]:
# table print by user

In [15]:
num = int(input("enter the table of:"))

for var1 in range(1,11):
    var2 = var1 * num
    print(f"{num} * {var1} = {var2}")

enter the table of: 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [16]:
while True:
    num = int(input("enter the table of:"))
    if num == 0:
        break

    for var1 in range(1,11):
        var2 = var1 * num
        print(f"{num} * {var1} = {var2}")
print("congrts out of loop")

enter the table of: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

enter the table of: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

enter the table of: 0

congrts out of loop

In [18]:
from time import sleep
while True:
    num = int(input("enter the table of:"))
    if num == 0:
        break

    for var1 in range(1,11):
        var2 = var1 * num
        print(f"{num} * {var1} = {var2}")
        sleep(0.5)
print("congrts out of loop")

enter the table of: 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

enter the table of: 0

congrts out of loop

In [19]:
# factorial of any number

In [23]:
while True:   
    num = int(input("enter any number"))
    if num == 0:
        break
    fac = 1
    for i in range (1,num + 1):
        fac = fac * i
        print("fac of number is :", num, fac)
print("congrtas out of loop")

enter any number 5

fac of number is : 5 1
fac of number is : 5 2
fac of number is : 5 6
fac of number is : 5 24
fac of number is : 5 120

enter any number 6

fac of number is : 6 1
fac of number is : 6 2
fac of number is : 6 6
fac of number is : 6 24
fac of number is : 6 120
fac of number is : 6 720

enter any number 0

congrtas out of loop